.logo{
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  margin: 0.5rem ;
  position: absolute;
}
header{
  display: flex;
  flex-direction: column;
  background-color: #3a053fc9;
  width: 100vw;
  height: 5rem;
}
ul{
  list-style: none;
  gap: 2rem;  
  justify-content: center;
  align-items: center;
}
#link-class{
  color: inherit;
  text-decoration:none;
  font-size: 20PX;
  font-weight: 800;
  transition: box-shadow 0.3s ease-in-out;
}
.uderline{
  text-decoration: underline;
}
.active::after {
text-decoration: underline;
}
#link-class:hover{
  font-size: 21px;
  filter: drop-shadow( 0px 0px 6px rgba(255, 255, 255, 0.8));
  transition: all 0.3s;
}
.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-top: 5%; */
}


footer{
  background-color: #3f0516c9;
  height: 3rem;
  width: 100vw;
  place-items: center;
}
.footer{
  text-align: center;

}
/* .ishaq{ */
  /* width: 1rem;
  height: 1rem; */
  /* margin-left: -7rem; */
  /* position: relative; */
  /* top: 32%;
  left: 00%;
  transform: translate(2%, -30%); */
  /* border-radius: 20rem; */
/* } */

.home{
  display: flex;
  /* max-width: 90vw; */
  width: 100vw;
  height: 100vh;
  align-items: center;
  /* justify-content: center; */
}

.name-container{
  background-color: rgba(0, 0, 0, 0.171);
  height: 17rem;
  width: 19rem;
  margin: 2rem ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  margin-left: 14rem;
  box-shadow: 0px 0px 10px #210325c9;
}
.name-container>h1,h3{
  text-align: center;
  /* justify-content: center;
  align-items: center; */
}
.name-container>h3{
 margin-top: -1.4rem;
}
.pic-logo{
  width: 12rem;
  height: 12rem;
  border-radius: 12rem;
  box-shadow: 0px 2px 10px 2px #210325c9;
  position: relative;
}
.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  height: 75vh;
}
.name{
  font-size: 30px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.icon{
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
  text-decoration: none;
  color: aliceblue;
}
.icon:hover{
  filter: drop-shadow(1px 1px 5px rgb(245, 185, 224));
}
.address{
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.171);
  height: 17rem;
  width: 19rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px #210325c9; */
}
.table{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 55vh;
  margin-top: 12%;
}
table#t01 tr:nth-child(even) {
  background-color: #eeeeee48;
}
table#t01 tr:nth-child(odd) {
  background-color: #1a03038e;
}
table#t01 th {
  color: white;
  background-color: #3a053fc9;
}
th, td{
  height: 2rem;
}
table#t01 {
  width: 80%;
  height: 20rem;
}
table, th, td {
  border-collapse: collapse;
}
th, td {
  padding: 2px;
  text-align: left
}
/* Phone Responsiveness */
@media screen and (max-width: 767px) {
  .icon{
    width: 30px;
  }
  .table{
    /* margin-top: 1%; */
    height: 70vh;
  }
  table#t01 {
    width: 92%;
    height: 20rem;
  } 
  .name-container {
    height: 20rem;
    width: 15rem;
    margin: 1rem;
    display: flex;
    
  }
  .ishaq{
    width: auto;
    height: 21REM;
    margin-left: 0;
    border-radius: 22rem;
  }
  .home{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
/* Computer Responsiveness */
@media only screen and (min-width:1200px){
  .name-container{
    background-color: rgba(0, 0, 0, 0.171);
    height: 25rem;
    width: 20rem;
    margin: 2rem ;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ishaq{
    width: 13rem;
    height: auto;
    margin-left: 0;
    border-radius: 22rem;
  }
  .home{
    align-items: center;
    justify-content: center;
    /* margin: auto; */
  }
  .name-container>h3{
    margin-top: -1rem;
    font-size: 24px;
   }
   .name-container>h1{
    font-size: 35px;
    font-weight: 900;
   }
   table#t01 {
    margin-top: -6rem;
  }
  table, th, td {
    font-size: 20px;
  }
}
/* Tablet Responsiveness */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .name-container {
    /* Adjust background color, height, width, and other properties as needed */
    background-color: rgba(0, 0, 0, 0.171);
    height: 20rem;
    width: 15rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ishaq{
    width: auto;
    height: 21REM;
    margin-left: 0;
    border-radius: 22rem;
  }

  .home {
    /* Adjust alignment for tablet screens */
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .name-container > h3 {
    /* Adjust font size for tablet screens */
    font-size: 20px;
  }

  .name-container > h1 {
    /* Adjust font size for tablet screens */
    font-size: 30px;
    font-weight: 700;
  }

  table#t01 {
    /* Adjust table margin for tablet screens */
    margin-top: -4rem;
  }

  table,
  th,
  td {
    /* Adjust font size for tablet screens */
    font-size: 18px;
  }
  .icon{
    width: 35px;
  }
}

